@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}

.kop{
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.judul{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.judul table{
    margin-bottom: 5px;
    font-size: 1em;
}

.judul table span{
    font-size: 1.1em;
    font-weight: bold;
}

.judul img{
    /* width: 100px; */
    height: 100px;
    width: auto;
}

table.tamu{
    width: 100%;
    border-collapse: collapse;
}

table.tamu tr th{
    border: 1px solid #333;
    padding: 5px;
}

table.tamu tr td{
    border: 1px solid #333;
    padding: 3px;
}
table.tamu tr td:first-child,
table.tamu tr td:last-child{
    text-align: center;
    padding: 3px 0;
}

.footer{
    margin-top: 30px;
    font-size: .9em;
}